<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.esports.mapper.ClientMapper">
  <resultMap id="BaseResultMap" type="com.rimi.esports.beans.Client">
    <!--@mbg.generated-->
    <!--@Table client-->
    <id column="client_id" jdbcType="INTEGER" property="clientId" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sm_name" jdbcType="VARCHAR" property="smName" />
    <result column="client_connMethod" jdbcType="VARCHAR" property="clientConnmethod" />
    <result column="client_publicNum" jdbcType="VARCHAR" property="clientPublicnum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    client_id, user_tel, `password`, sm_name, client_connMethod, client_publicNum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from client
    where client_id = #{clientId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from client
    where client_id = #{clientId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="client_id" keyProperty="clientId" parameterType="com.rimi.esports.beans.Client" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into client (user_tel, `password`, sm_name, 
      client_connMethod, client_publicNum)
    values (#{userTel,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{smName,jdbcType=VARCHAR}, 
      #{clientConnmethod,jdbcType=VARCHAR}, #{clientPublicnum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="client_id" keyProperty="clientId" parameterType="com.rimi.esports.beans.Client" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="smName != null">
        sm_name,
      </if>
      <if test="clientConnmethod != null">
        client_connMethod,
      </if>
      <if test="clientPublicnum != null">
        client_publicNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="smName != null">
        #{smName,jdbcType=VARCHAR},
      </if>
      <if test="clientConnmethod != null">
        #{clientConnmethod,jdbcType=VARCHAR},
      </if>
      <if test="clientPublicnum != null">
        #{clientPublicnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.esports.beans.Client">
    <!--@mbg.generated-->
    update client
    <set>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="smName != null">
        sm_name = #{smName,jdbcType=VARCHAR},
      </if>
      <if test="clientConnmethod != null">
        client_connMethod = #{clientConnmethod,jdbcType=VARCHAR},
      </if>
      <if test="clientPublicnum != null">
        client_publicNum = #{clientPublicnum,jdbcType=VARCHAR},
      </if>
    </set>
    where client_id = #{clientId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.esports.beans.Client">
    <!--@mbg.generated-->
    update client
    set user_tel = #{userTel,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      sm_name = #{smName,jdbcType=VARCHAR},
      client_connMethod = #{clientConnmethod,jdbcType=VARCHAR},
      client_publicNum = #{clientPublicnum,jdbcType=VARCHAR}
    where client_id = #{clientId,jdbcType=INTEGER}
  </update>
</mapper>