<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.esports.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.rimi.esports.beans.Goods">
    <!--@mbg.generated-->
    <!--@Table goods-->
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_source" jdbcType="VARCHAR" property="goodsSource" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_photo" jdbcType="VARCHAR" property="goodsPhoto" />
    <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="goods_classify" jdbcType="VARCHAR" property="goodsClassify" />
    <result column="goods_showTime" jdbcType="VARCHAR" property="goodsShowtime" />
    <result column="goods_description" jdbcType="VARCHAR" property="goodsDescription" />
    <result column="goods_upTime" jdbcType="VARCHAR" property="goodsUptime" />
    <result column="goods_location" jdbcType="VARCHAR" property="goodsLocation" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="goods_priceSum" jdbcType="DOUBLE" property="goodsPricesum" />
    <result column="goods_property" jdbcType="VARCHAR" property="goodsProperty" />
    <association property="brand" javaType="com.rimi.esports.beans.Brand" >
      <id column="brand_id" jdbcType="INTEGER" property="brandId"  />
      <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
      <result column="brand_logo" jdbcType="VARCHAR" property="brandLogo" />
      <result column="brand_type" jdbcType="VARCHAR" property="brandType" />
      <result column="brand_logoName" jdbcType="VARCHAR" property="brandLogoname" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_id, goods_source, goods_name, goods_photo, goods_price, brand_id, goods_classify, 
    goods_showTime, goods_description, goods_upTime, goods_location, goods_num, goods_priceSum, 
    goods_property
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="goods_id" keyProperty="goodsId" parameterType="com.rimi.esports.beans.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods (goods_source, goods_name, goods_photo, 
      goods_price, brand_id, goods_classify, 
      goods_showTime, goods_description, goods_upTime, 
      goods_location, goods_num, goods_priceSum, 
      goods_property)
    values (#{goodsSource,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsPhoto,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=DOUBLE}, #{brandId,jdbcType=INTEGER}, #{goodsClassify,jdbcType=VARCHAR}, 
      #{goodsShowtime,jdbcType=VARCHAR}, #{goodsDescription,jdbcType=VARCHAR}, #{goodsUptime,jdbcType=VARCHAR}, 
      #{goodsLocation,jdbcType=VARCHAR}, #{goodsNum,jdbcType=INTEGER}, #{goodsPricesum,jdbcType=DOUBLE}, 
      #{goodsProperty,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="goods_id" keyProperty="goodsId" parameterType="com.rimi.esports.beans.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsSource != null">
        goods_source,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPhoto != null">
        goods_photo,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="goodsClassify != null">
        goods_classify,
      </if>
      <if test="goodsShowtime != null">
        goods_showTime,
      </if>
      <if test="goodsDescription != null">
        goods_description,
      </if>
      <if test="goodsUptime != null">
        goods_upTime,
      </if>
      <if test="goodsLocation != null">
        goods_location,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="goodsPricesum != null">
        goods_priceSum,
      </if>
      <if test="goodsProperty != null">
        goods_property,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsSource != null">
        #{goodsSource,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPhoto != null">
        #{goodsPhoto,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="goodsClassify != null">
        #{goodsClassify,jdbcType=VARCHAR},
      </if>
      <if test="goodsShowtime != null">
        #{goodsShowtime,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null">
        #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsUptime != null">
        #{goodsUptime,jdbcType=VARCHAR},
      </if>
      <if test="goodsLocation != null">
        #{goodsLocation,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="goodsPricesum != null">
        #{goodsPricesum,jdbcType=DOUBLE},
      </if>
      <if test="goodsProperty != null">
        #{goodsProperty,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.esports.beans.Goods">
    <!--@mbg.generated-->
    update goods
    <set>
      <if test="goodsSource != null">
        goods_source = #{goodsSource,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPhoto != null">
        goods_photo = #{goodsPhoto,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="goodsClassify != null">
        goods_classify = #{goodsClassify,jdbcType=VARCHAR},
      </if>
      <if test="goodsShowtime != null">
        goods_showTime = #{goodsShowtime,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null">
        goods_description = #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsUptime != null">
        goods_upTime = #{goodsUptime,jdbcType=VARCHAR},
      </if>
      <if test="goodsLocation != null">
        goods_location = #{goodsLocation,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="goodsPricesum != null">
        goods_priceSum = #{goodsPricesum,jdbcType=DOUBLE},
      </if>
      <if test="goodsProperty != null">
        goods_property = #{goodsProperty,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.esports.beans.Goods">
    <!--@mbg.generated-->
    update goods
    set goods_source = #{goodsSource,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_photo = #{goodsPhoto,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DOUBLE},
      brand_id = #{brandId,jdbcType=INTEGER},
      goods_classify = #{goodsClassify,jdbcType=VARCHAR},
      goods_showTime = #{goodsShowtime,jdbcType=VARCHAR},
      goods_description = #{goodsDescription,jdbcType=VARCHAR},
      goods_upTime = #{goodsUptime,jdbcType=VARCHAR},
      goods_location = #{goodsLocation,jdbcType=VARCHAR},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      goods_priceSum = #{goodsPricesum,jdbcType=DOUBLE},
      goods_property = #{goodsProperty,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from goods order by rand() limit 9
  </select>
  <select id="selectByUserTel" resultMap="BaseResultMap">
    select * from goods where goods_source=#{goodsSource}
  </select>
    <select id="selectByParam" resultMap="BaseResultMap">
      select goods_name,goods_classify,goods_description,goods_photo,goods_price,goods_property from goods order by rand() limit 4
    </select>
  <select id="selectPcGoods" resultType="java.util.List" resultMap="BaseResultMap">
   select g.goods_photo as goods_photo,g.goods_id as goods_id,g.goods_name as goods_name,g.goods_price,g.goods_showTime as goods_showTime,g.goods_description as goods_description,g.goods_upTime as goods_upTime,g.goods_property as goods_property,g.goods_num as goods_num,b.brand_logoName as brand_logoName FROM goods g join brand b on g.brand_id=b.brand_id where b.brand_logoName like concat("%",#{brandLogoname},"%")
  </select>

</mapper>