<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.esports.mapper.MecodeMapper">
  <resultMap id="BaseResultMap" type="com.rimi.esports.beans.Mecode">
    <!--@mbg.generated-->
    <!--@Table mecode-->
    <id column="meCode_id" jdbcType="INTEGER" property="mecodeId" />
    <result column="userTel" jdbcType="VARCHAR" property="usertel" />
    <result column="number" jdbcType="VARCHAR" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    meCode_id, userTel, `number`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mecode
    where meCode_id = #{mecodeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mecode
    where meCode_id = #{mecodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="meCode_id" keyProperty="mecodeId" parameterType="com.rimi.esports.beans.Mecode" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mecode (userTel, `number`)
    values (#{usertel,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="meCode_id" keyProperty="mecodeId" parameterType="com.rimi.esports.beans.Mecode" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mecode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usertel != null">
        userTel,
      </if>
      <if test="number != null">
        `number`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usertel != null">
        #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.esports.beans.Mecode">
    <!--@mbg.generated-->
    update mecode
    <set>
      <if test="usertel != null">
        userTel = #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        `number` = #{number,jdbcType=VARCHAR},
      </if>
    </set>
    where meCode_id = #{mecodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.esports.beans.Mecode">
    <!--@mbg.generated-->
    update mecode
    set userTel = #{usertel,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=VARCHAR}
    where meCode_id = #{mecodeId,jdbcType=INTEGER}
  </update>
  <select id="selectByUserTel" resultMap="BaseResultMap">
    select * from mecode where userTel=#{userTel}
  </select>
  <update id="updateByUserTel">
    update mecode set number=#{number} where userTel=#{userTel}
  </update>
</mapper>