<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.esports.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.rimi.esports.beans.Orders">
    <!--@mbg.generated-->
    <!--@Table orders-->
    <id column="orders_id" jdbcType="INTEGER" property="ordersId" />
    <result column="orders_username" jdbcType="VARCHAR" property="ordersUsername" />
    <result column="orders_num" jdbcType="VARCHAR" property="ordersNum" />
    <result column="orders_time" jdbcType="VARCHAR" property="ordersTime" />
    <result column="orders_sum" jdbcType="DECIMAL" property="ordersSum" />
    <result column="orders_status" jdbcType="VARCHAR" property="ordersStatus" />
    <result column="orders_getMethod" jdbcType="VARCHAR" property="ordersGetMethod" />
    <result column="orders_money" jdbcType="DECIMAL" property="ordersMoney" />
    <result column="orders_pay" jdbcType="VARCHAR" property="ordersPay" />
    <result column="orders_getName" jdbcType="VARCHAR" property="ordersGetName" />
    <result column="orders_getAddress" jdbcType="VARCHAR" property="ordersGetAddress" />
    <result column="orders_getPhone" jdbcType="VARCHAR" property="ordersGetPhone" />
    <result column="orders_getScore" jdbcType="INTEGER" property="ordersGetScore" />
    <result column="orders_expressNum" jdbcType="VARCHAR" property="ordersExpressNum" />
    <result column="orders_getTime" jdbcType="VARCHAR" property="ordersGetTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    orders_id, orders_username, orders_num, orders_time, orders_sum, orders_status, orders_getMethod, 
    orders_money, orders_pay, orders_getName, orders_getAddress, orders_getPhone, orders_getScore, 
    orders_expressNum, orders_getTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from orders
    where orders_id = #{ordersId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from orders
    where orders_id = #{ordersId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="orders_id" keyProperty="ordersId" parameterType="com.rimi.esports.beans.Orders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into orders (orders_username, orders_num, orders_time, 
      orders_sum, orders_status, orders_getMethod, 
      orders_money, orders_pay, orders_getName, 
      orders_getAddress, orders_getPhone, orders_getScore, 
      orders_expressNum, orders_getTime)
    values (#{ordersUsername,jdbcType=VARCHAR}, #{ordersNum,jdbcType=VARCHAR}, #{ordersTime,jdbcType=VARCHAR}, 
      #{ordersSum,jdbcType=DECIMAL}, #{ordersStatus,jdbcType=VARCHAR}, #{ordersGetMethod,jdbcType=VARCHAR},
      #{ordersMoney,jdbcType=DECIMAL}, #{ordersPay,jdbcType=VARCHAR}, #{ordersGetName,jdbcType=VARCHAR},
      #{ordersGetAddress,jdbcType=VARCHAR}, #{ordersGetPhone,jdbcType=VARCHAR}, #{ordersGetScore,jdbcType=INTEGER},
      #{ordersExpressNum,jdbcType=VARCHAR}, #{ordersGetTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="orders_id" keyProperty="ordersId" parameterType="com.rimi.esports.beans.Orders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordersUsername != null">
        orders_username,
      </if>
      <if test="ordersNum != null">
        orders_num,
      </if>
      <if test="ordersTime != null">
        orders_time,
      </if>
      <if test="ordersSum != null">
        orders_sum,
      </if>
      <if test="ordersStatus != null">
        orders_status,
      </if>
      <if test="ordersGetMethod != null">
        orders_getMethod,
      </if>
      <if test="ordersMoney != null">
        orders_money,
      </if>
      <if test="ordersPay != null">
        orders_pay,
      </if>
      <if test="ordersGetName != null">
        orders_getName,
      </if>
      <if test="ordersGetAddress != null">
        orders_getAddress,
      </if>
      <if test="ordersGetPhone != null">
        orders_getPhone,
      </if>
      <if test="ordersGetScore != null">
        orders_getScore,
      </if>
      <if test="ordersExpressNum != null">
        orders_expressNum,
      </if>
      <if test="ordersGetTime != null">
        orders_getTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordersUsername != null">
        #{ordersUsername,jdbcType=VARCHAR},
      </if>
      <if test="ordersNum != null">
        #{ordersNum,jdbcType=VARCHAR},
      </if>
      <if test="ordersTime != null">
        #{ordersTime,jdbcType=VARCHAR},
      </if>
      <if test="ordersSum != null">
        #{ordersSum,jdbcType=DECIMAL},
      </if>
      <if test="ordersStatus != null">
        #{ordersStatus,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetMethod != null">
        #{ordersGetMethod,jdbcType=VARCHAR},
      </if>
      <if test="ordersMoney != null">
        #{ordersMoney,jdbcType=DECIMAL},
      </if>
      <if test="ordersPay != null">
        #{ordersPay,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetName != null">
        #{ordersGetName,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetAddress != null">
        #{ordersGetAddress,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetPhone != null">
        #{ordersGetPhone,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetScore != null">
        #{ordersGetScore,jdbcType=INTEGER},
      </if>
      <if test="ordersExpressNum != null">
        #{ordersExpressNum,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetTime != null">
        #{ordersGetTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.esports.beans.Orders">
    <!--@mbg.generated-->
    update orders
    <set>
      <if test="ordersUsername != null">
        orders_username = #{ordersUsername,jdbcType=VARCHAR},
      </if>
      <if test="ordersNum != null">
        orders_num = #{ordersNum,jdbcType=VARCHAR},
      </if>
      <if test="ordersTime != null">
        orders_time = #{ordersTime,jdbcType=VARCHAR},
      </if>
      <if test="ordersSum != null">
        orders_sum = #{ordersSum,jdbcType=DECIMAL},
      </if>
      <if test="ordersStatus != null">
        orders_status = #{ordersStatus,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetMethod != null">
        orders_getMethod = #{ordersGetMethod,jdbcType=VARCHAR},
      </if>
      <if test="ordersMoney != null">
        orders_money = #{ordersMoney,jdbcType=DECIMAL},
      </if>
      <if test="ordersPay != null">
        orders_pay = #{ordersPay,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetName != null">
        orders_getName = #{ordersGetName,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetAddress != null">
        orders_getAddress = #{ordersGetAddress,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetPhone != null">
        orders_getPhone = #{ordersGetPhone,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetScore != null">
        orders_getScore = #{ordersGetScore,jdbcType=INTEGER},
      </if>
      <if test="ordersExpressNum != null">
        orders_expressNum = #{ordersExpressNum,jdbcType=VARCHAR},
      </if>
      <if test="ordersGetTime != null">
        orders_getTime = #{ordersGetTime,jdbcType=VARCHAR},
      </if>
    </set>
    where orders_id = #{ordersId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.esports.beans.Orders">
    <!--@mbg.generated-->
    update orders
    set orders_username = #{ordersUsername,jdbcType=VARCHAR},
      orders_num = #{ordersNum,jdbcType=VARCHAR},
      orders_time = #{ordersTime,jdbcType=VARCHAR},
      orders_sum = #{ordersSum,jdbcType=DECIMAL},
      orders_status = #{ordersStatus,jdbcType=VARCHAR},
      orders_getMethod = #{ordersGetMethod,jdbcType=VARCHAR},
      orders_money = #{ordersMoney,jdbcType=DECIMAL},
      orders_pay = #{ordersPay,jdbcType=VARCHAR},
      orders_getName = #{ordersGetName,jdbcType=VARCHAR},
      orders_getAddress = #{ordersGetAddress,jdbcType=VARCHAR},
      orders_getPhone = #{ordersGetPhone,jdbcType=VARCHAR},
      orders_getScore = #{ordersGetScore,jdbcType=INTEGER},
      orders_expressNum = #{ordersExpressNum,jdbcType=VARCHAR},
      orders_getTime = #{ordersGetTime,jdbcType=VARCHAR}
    where orders_id = #{ordersId,jdbcType=INTEGER}
  </update>
</mapper>