<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.esports.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="com.rimi.esports.beans.Shop">
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="shop_choose" jdbcType="VARCHAR" property="shopChoose" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="shop_goodsNum" jdbcType="INTEGER" property="shopGoodsnum" />
    <collection property="goods" ofType="com.rimi.esports.beans.Goods">
      <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
      <result column="goods_source" jdbcType="VARCHAR" property="goodsSource" />
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
      <result column="goods_photo" jdbcType="VARCHAR" property="goodsPhoto" />
      <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
      <result column="brand_id" jdbcType="INTEGER" property="brandId" />
      <result column="goods_classify" jdbcType="VARCHAR" property="goodsClassify" />
      <result column="goods_showTime" jdbcType="VARCHAR" property="goodsShowtime" />
      <result column="goods_description" jdbcType="VARCHAR" property="goodsDescription" />
      <result column="goods_upTime" jdbcType="VARCHAR" property="goodsUptime" />
      <result column="goods_location" jdbcType="VARCHAR" property="goodsLocation" />
      <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
      <result column="goods_priceSum" jdbcType="DOUBLE" property="goodsPricesum" />
      <result column="goods_property" jdbcType="VARCHAR" property="goodsProperty" />
      <association property="brand" javaType="com.rimi.esports.beans.Brand" >
        <id column="brand_id" jdbcType="INTEGER" property="brandId"  />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="brand_logo" jdbcType="VARCHAR" property="brandLogo" />
        <result column="brand_type" jdbcType="VARCHAR" property="brandType" />
        <result column="brand_logoName" jdbcType="VARCHAR" property="brandLogoname" />
      </association>
    </collection>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    shop_id, user_tel, shop_choose, goods_id, shop_goodsNum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="shop_id" keyProperty="shopId" parameterType="com.rimi.esports.beans.Shop" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop (user_tel, shop_choose, goods_id, 
      shop_goodsNum)
    values (#{userTel,jdbcType=VARCHAR}, #{shopChoose,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{shopGoodsnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="shop_id" keyProperty="shopId" parameterType="com.rimi.esports.beans.Shop" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="shopChoose != null">
        shop_choose,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="shopGoodsnum != null">
        shop_goodsNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="shopChoose != null">
        #{shopChoose,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="shopGoodsnum != null">
        #{shopGoodsnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.esports.beans.Shop">
    <!--@mbg.generated-->
    update shop
    <set>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="shopChoose != null">
        shop_choose = #{shopChoose,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="shopGoodsnum != null">
        shop_goodsNum = #{shopGoodsnum,jdbcType=INTEGER},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.esports.beans.Shop">
    <!--@mbg.generated-->
    update shop
    set user_tel = #{userTel,jdbcType=VARCHAR},
      shop_choose = #{shopChoose,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      shop_goodsNum = #{shopGoodsnum,jdbcType=INTEGER}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
    <select id="selectGoodsByShop" resultType="java.util.List" resultMap="BaseResultMap">
       select g.goods_name as goods_name,g.goods_source as goods_source,g.goods_id as goods_id,g.goods_photo as goods_photo,g.goods_property as goods_property,g.goods_description as goods_description,g.goods_num as goods_num,g.goods_price as goods_price,g.goods_priceSum as goods_priceSum,b.brand_name as brand_name,b.brand_type as brand_type,b.brand_logoName as brand_logoName from shop s join goods g join brand b on s.goods_id=g.goods_id and g.brand_id=b.brand_id where s.user_tel=#{userTel}
    </select>
  <delete id="deleteByGoods">
    delete from shop where goods_id=#{goodsId} and user_tel=#{userTel}
  </delete>
  <select id="selectByGoodsIdAndUserTel" resultMap="BaseResultMap">
    select * from shop where goods_id=#{goodsId} and user_tel=#{userTel}
  </select>
</mapper>