<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.esports.mapper.SmMapper">
  <resultMap id="BaseResultMap" type="com.rimi.esports.beans.Sm">
    <!--@mbg.generated-->
    <!--@Table sm-->
    <id column="sm_id" jdbcType="INTEGER" property="smId" />
    <result column="sm_name" jdbcType="VARCHAR" property="smName" />
    <result column="sm_realName" jdbcType="VARCHAR" property="smRealname" />
    <result column="sm_email" jdbcType="VARCHAR" property="smEmail" />
    <result column="sm_sex" jdbcType="VARCHAR" property="smSex" />
    <result column="sm_age" jdbcType="INTEGER" property="smAge" />
    <result column="sm_job" jdbcType="VARCHAR" property="smJob" />
    <result column="sm_hobby" jdbcType="VARCHAR" property="smHobby" />
    <result column="sm_address" jdbcType="VARCHAR" property="smAddress" />
    <result column="sm_image" jdbcType="VARCHAR" property="smImage" />
    <result column="sm_mark" jdbcType="INTEGER" property="smMark" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="concernedUser" jdbcType="VARCHAR" property="concerneduser" />
    <result column="fans" jdbcType="INTEGER" property="fans" />
    <association property="user" javaType="com.rimi.esports.beans.User">
      <id column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="user_money" jdbcType="DECIMAL" property="userMoney" />
      <result column="openId" jdbcType="VARCHAR" property="openid" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    sm_id, sm_name, sm_realName, sm_email, sm_sex, sm_age, sm_job, sm_hobby, sm_address, 
    sm_image, sm_mark, user_tel, concernedUser, fans
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sm
    where sm_id = #{smId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sm
    where sm_id = #{smId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="sm_id" keyProperty="smId" parameterType="com.rimi.esports.beans.Sm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sm (sm_name, sm_realName, sm_email, 
      sm_sex, sm_age, sm_job, 
      sm_hobby, sm_address, sm_image, 
      sm_mark, user_tel, concernedUser, 
      fans)
    values (#{smName,jdbcType=VARCHAR}, #{smRealname,jdbcType=VARCHAR}, #{smEmail,jdbcType=VARCHAR}, 
      #{smSex,jdbcType=VARCHAR}, #{smAge,jdbcType=INTEGER}, #{smJob,jdbcType=VARCHAR}, 
      #{smHobby,jdbcType=VARCHAR}, #{smAddress,jdbcType=VARCHAR}, #{smImage,jdbcType=VARCHAR}, 
      #{smMark,jdbcType=INTEGER}, #{userTel,jdbcType=VARCHAR}, #{concerneduser,jdbcType=VARCHAR}, 
      #{fans,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="sm_id" keyProperty="smId" parameterType="com.rimi.esports.beans.Sm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="smName != null">
        sm_name,
      </if>
      <if test="smRealname != null">
        sm_realName,
      </if>
      <if test="smEmail != null">
        sm_email,
      </if>
      <if test="smSex != null">
        sm_sex,
      </if>
      <if test="smAge != null">
        sm_age,
      </if>
      <if test="smJob != null">
        sm_job,
      </if>
      <if test="smHobby != null">
        sm_hobby,
      </if>
      <if test="smAddress != null">
        sm_address,
      </if>
      <if test="smImage != null">
        sm_image,
      </if>
      <if test="smMark != null">
        sm_mark,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="concerneduser != null">
        concernedUser,
      </if>
      <if test="fans != null">
        fans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="smName != null">
        #{smName,jdbcType=VARCHAR},
      </if>
      <if test="smRealname != null">
        #{smRealname,jdbcType=VARCHAR},
      </if>
      <if test="smEmail != null">
        #{smEmail,jdbcType=VARCHAR},
      </if>
      <if test="smSex != null">
        #{smSex,jdbcType=VARCHAR},
      </if>
      <if test="smAge != null">
        #{smAge,jdbcType=INTEGER},
      </if>
      <if test="smJob != null">
        #{smJob,jdbcType=VARCHAR},
      </if>
      <if test="smHobby != null">
        #{smHobby,jdbcType=VARCHAR},
      </if>
      <if test="smAddress != null">
        #{smAddress,jdbcType=VARCHAR},
      </if>
      <if test="smImage != null">
        #{smImage,jdbcType=VARCHAR},
      </if>
      <if test="smMark != null">
        #{smMark,jdbcType=INTEGER},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="concerneduser != null">
        #{concerneduser,jdbcType=VARCHAR},
      </if>
      <if test="fans != null">
        #{fans,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.esports.beans.Sm">
    <!--@mbg.generated-->
    update sm
    <set>
      <if test="smName != null">
        sm_name = #{smName,jdbcType=VARCHAR},
      </if>
      <if test="smRealname != null">
        sm_realName = #{smRealname,jdbcType=VARCHAR},
      </if>
      <if test="smEmail != null">
        sm_email = #{smEmail,jdbcType=VARCHAR},
      </if>
      <if test="smSex != null">
        sm_sex = #{smSex,jdbcType=VARCHAR},
      </if>
      <if test="smAge != null">
        sm_age = #{smAge,jdbcType=INTEGER},
      </if>
      <if test="smJob != null">
        sm_job = #{smJob,jdbcType=VARCHAR},
      </if>
      <if test="smHobby != null">
        sm_hobby = #{smHobby,jdbcType=VARCHAR},
      </if>
      <if test="smAddress != null">
        sm_address = #{smAddress,jdbcType=VARCHAR},
      </if>
      <if test="smImage != null">
        sm_image = #{smImage,jdbcType=VARCHAR},
      </if>
      <if test="smMark != null">
        sm_mark = #{smMark,jdbcType=INTEGER},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="concerneduser != null">
        concernedUser = #{concerneduser,jdbcType=VARCHAR},
      </if>
      <if test="fans != null">
        fans = #{fans,jdbcType=INTEGER},
      </if>
    </set>
    where sm_id = #{smId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.esports.beans.Sm">
    <!--@mbg.generated-->
    update sm
    set sm_name = #{smName,jdbcType=VARCHAR},
      sm_realName = #{smRealname,jdbcType=VARCHAR},
      sm_email = #{smEmail,jdbcType=VARCHAR},
      sm_sex = #{smSex,jdbcType=VARCHAR},
      sm_age = #{smAge,jdbcType=INTEGER},
      sm_job = #{smJob,jdbcType=VARCHAR},
      sm_hobby = #{smHobby,jdbcType=VARCHAR},
      sm_address = #{smAddress,jdbcType=VARCHAR},
      sm_image = #{smImage,jdbcType=VARCHAR},
      sm_mark = #{smMark,jdbcType=INTEGER},
      user_tel = #{userTel,jdbcType=VARCHAR},
      concernedUser = #{concerneduser,jdbcType=VARCHAR},
      fans = #{fans,jdbcType=INTEGER}
    where sm_id = #{smId,jdbcType=INTEGER}
  </update>
  <update id="updateByTelephone" parameterType="com.rimi.esports.beans.Sm">
    update sm
    <set>
      <if test="smName != null">
        sm_name = #{smName,jdbcType=VARCHAR},
      </if>
      <if test="smRealname != null">
        sm_realName = #{smRealname,jdbcType=VARCHAR},
      </if>
      <if test="smEmail != null">
        sm_email = #{smEmail,jdbcType=VARCHAR},
      </if>
      <if test="smSex != null">
        sm_sex = #{smSex,jdbcType=VARCHAR},
      </if>
      <if test="smAge != null">
        sm_age = #{smAge,jdbcType=INTEGER},
      </if>
      <if test="smJob != null">
        sm_job = #{smJob,jdbcType=VARCHAR},
      </if>
      <if test="smHobby != null">
        sm_hobby = #{smHobby,jdbcType=VARCHAR},
      </if>
      <if test="smAddress != null">
        sm_address = #{smAddress,jdbcType=VARCHAR},
      </if>
      <if test="smImage != null">
        sm_image = #{smImage,jdbcType=VARCHAR},
      </if>
      <if test="smMark != null">
        sm_mark = #{smMark,jdbcType=INTEGER},
      </if>
    </set>
    where user_tel = #{userTel,jdbcType=VARCHAR}
  </update>
  <select id="selectByTelephone" resultMap="BaseResultMap">
    select * from sm where user_tel=#{userTel}
  </select>

  <update id="updateBySmImage">
    update sm set sm_image=#{smImage} where user_tel=#{userTel}
  </update>
  <select id="selectBySmNameWeiXin" resultMap="BaseResultMap">
    select * from sm where sm_name=#{smName}
  </select>
  <select id="selectBySmName" resultType="List" resultMap="BaseResultMap">
    select u.user_money as user_money,s.sm_name as sm_name,s.sm_realName as sm_realName,s.sm_email as sm_email,s.sm_sex as sm_sex,s.sm_age as sm_age,s.sm_hobby as sm_hobby,s.sm_job as sm_job,s.sm_address as sm_address,s.sm_image as sm_image,s.sm_mark as sm_mark,s.user_tel as user_tel from sm s join user u on s.user_tel=u.user_tel where sm_name=#{smName}
  </select>
  <select id="selectWeiXinMessage" resultMap="BaseResultMap">
    select * from sm where sm_name=#{smName}
  </select>
  <update id="updateBySmName" parameterType="com.rimi.esports.beans.Sm">
    update sm
    <set>
      <if test="smRealname != null">
        sm_realName = #{smRealname,jdbcType=VARCHAR},
      </if>
      <if test="smEmail != null">
        sm_email = #{smEmail,jdbcType=VARCHAR},
      </if>
      <if test="smSex != null">
        sm_sex = #{smSex,jdbcType=VARCHAR},
      </if>
      <if test="smAge != null">
        sm_age = #{smAge,jdbcType=INTEGER},
      </if>
      <if test="smJob != null">
        sm_job = #{smJob,jdbcType=VARCHAR},
      </if>
      <if test="smHobby != null">
        sm_hobby = #{smHobby,jdbcType=VARCHAR},
      </if>
      <if test="smAddress != null">
        sm_address = #{smAddress,jdbcType=VARCHAR},
      </if>
      <if test="smImage != null">
        sm_image = #{smImage,jdbcType=VARCHAR},
      </if>
      <if test="smMark != null">
        sm_mark = #{smMark,jdbcType=INTEGER},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
    </set>
    where sm_name = #{smName,jdbcType=VARCHAR}
  </update>

</mapper>